<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Python Chatbot</title>
  <link rel="stylesheet" href="/static/{{ version }}/lib/pico-2.1.1.min.css">
  <link rel="stylesheet" href="/static/{{ version }}/index.css">
  <script src="/static/{{ version }}/lib/htmx-2.0.8.min.js"></script>
  <script src="/static/{{ version }}/lib/htmx-ext-ws-2.0.4.min.js"></script>
  <script src="/static/{{ version }}/index.js"></script>
</head>
<body>
<main class="container">
  <h1>Python Chatbot</h1>
  <div id="chat-window" hx-ext="ws" ws-connect="/ws/chat">
    <div id="chat-messages"></div>
    <form ws-send>{% include "chat-input.html.j2" %}</form>
  </div>
</main>
</body>
</html>
